.card {
  width: 220px;
  height: 120px;
  margin-left: 40px;
  background-color: #333333;
  border-radius: 4px;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 4px;
}

.card-detail {
  color: white;
  margin: 0;
  padding: 4px;
  font-size: 14px;
  margin-left: 10px;
}

.card-ic {
  width: 30px;
  height: 18px;
  background-color: #ddcd78;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 4px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
